.add-reminder-container {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding: 10px;
}

.add-reminder-container .summary-caption {
    color: gray;
    text-align: left;
    width: 100%;
}

.add-reminder-container .summary {
    margin: 0px;
    width: 99%;
    padding: 10px;
}

.add-reminder-container .description-caption {
    color: gray;
    margin-top: 20px;
    text-align: left;
    width: 100%;
}

.add-reminder-container .description {
    margin: 0px;
    width: 99%;
    padding: 10px;
}

.add-reminder-container .action-container {
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    align-items: center;
    width: 100%;
    margin-top: 10px;
}

.add-reminder-container .add {
    color: black;
    background: silver;
    padding: 5px 10px 5px 10px;
    border: 1px solid silver;
    border-radius: 5px 5px 5px 5px;
    cursor: pointer;
}

.add-reminder-container .add:hover {
    background: gray;
    border: 1px solid gray;
}
